services:
  - type: web
    name: educlip-ai
    env: python
    region: oregon
    plan: free
    branch: main
    buildCommand: pip install -U pip setuptools wheel && pip install -r requirements.txt
    startCommand: gunicorn backend:app --workers 2 --worker-class uvicorn.workers.UvicornWorker --bind 0.0.0.0:$PORT
    envVars:
      - key: SECRET_KEY
        generateValue: true
      - key: PYTHON_VERSION
        value: 3.11.0
      - key: GEMINI_API_KEY
        sync: false
      - key: OPENAI_API_KEY
        sync: false
    disk:
      name: storage
      mountPath: /opt/render/project/src/storage
      sizeGB: 1
